{% extends 'admin_layout.html' %}
{% load static %}
{% block title %}
<title>Admin-Dashboard</title>
{% endblock %}
{% block content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }

    .card-body a:hover{
    color:orange;
    }
</style>
<div class="container">
    <h1>Dashboard</h1>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Products</div>
                <div class="card-body">
                    <a href="/admin/products"><h1 class="card-title text-center">{{product}}</h1></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Orders</div>
                <div class="card-body">
                    <a href="/admin/order"><h1 class="card-title text-center">{{order}}</h1></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Users</div>
                <div class="card-body">
                    <a href="/admin/user"><h1 class="card-title text-center">{{user}}</h1></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body">
                    <h1 class="card-title text-center">{{admin}}</h1>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}